<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Amarante&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
      
        <link rel="stylesheet", href="/static/style.css">

        <title>404: Page Not Found</title>
    </head>
    <body>
      <script>
        alert("Oops! We can’t seem to find the page you’re looking for!");
      </script>

      <h1 style="color: darkred">404 Error! </h1>

      <blink style="color: darkred">404 - Page Not Found </blink>
    </body>
</html>
